<%- include("template/cabecera", {tituloWeb : 'Pagina web de Inicio' }) %>
        <h1>EJS</h1>
        <h2 class="text-primary">
            <%= titulo %>
        </h2>
        <%- include("template/footer") %>

    